[Unit]
Description=Mina Daemon Service
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
EnvironmentFile=/home/ubuntu/.mina-env{{ number }}
User=root
Type=simple
Restart=always
RestartSec=3
ExecStart=/usr/local/bin/mina{{ number }} daemon \
--log-json \
--log-snark-work-gossip true \
--internal-tracing \
--insecure-rest-server \
--log-level Debug \
--file-log-level Debug \
--config-directory /home/ubuntu/.mina-config{{ number }} \
--external-ip {{ public_ip.json.ip }} \
--itn-keys  f1F38+W3zLcc45fGZcAf9gsZ7o9Rh3ckqZQw6yOJiS4=,6GmWmMYv5oPwQd2xr6YArmU1YXYCAxQAxKH7aYnBdrk=,ZJDkF9EZlhcAU1jyvP3m9GbkhfYa0yPV+UdAqSamr1Q=,NW2Vis7S5G1B9g2l9cKh3shy9qkI1lvhid38763vZDU=,Cg/8l+JleVH8yNwXkoLawbfLHD93Do4KbttyBS7m9hQ= \
--itn-graphql-port {{ prefix }}89 \
--uptime-submitter-key /home/ubuntu/keys/uptime \
--uptime-url https://block-producers-uptime-itn.minaprotocol.tools/v1/submit \
--metrics-port {{ prefix }}11 \
--enable-peer-exchange true \
--libp2p-keypair /home/ubuntu/keys/libp2p_key{{ number }} \
--log-precomputed-blocks true \
--max-connections 200 \
--peer-list-url  https://storage.googleapis.com/seed-lists/testworld-2-0_seeds.txt \
--generate-genesis-proof true \
--block-producer-key /home/ubuntu/keys/my-wallet \
--node-status-url https://nodestats-itn.minaprotocol.tools/submit/stats \
--node-error-url https://nodestats-itn.minaprotocol.tools/submit/stats \
--file-log-rotations 500 \
--client-port {{ prefix }}01 \
--external-port {{ prefix }}02 \
--rest-port {{ prefix }}03 \
--archive-address {{ prefix }}86 \
--bind-ip {{ public_ip.json.ip }}


[Install]
WantedBy=default.target